<div id="container" data-ng-init="makeScrollable()">
    <!-- Angular directive for drawing the header -->
    <header></header>
    
    <!-- Play button -->
    <div id="tekstContent">
        <div class="welkom">
            <h2>Welkom bij Through the mud,</h2>
            <p>
            Through the mud is een racespel waarin je je eigen auto kunt maken
            en hiermee gaan racen. Door de beste tijden neer te zetten kun je
            onderdelen vrijspelen voor je auto. Verbeter je auto door onderdelen te gebruiken die bestemd zijn voor ruig terrein. Ook kun je je tijden vergelijken
            met je klasgenoten, school en de rest van de wereld.
            </p>
        </div>


        <!-- Highscore slider -->
        <div class="navHighscore">
            <div class="highTitle">
                <h2 class="highscoreTitle">Scorelijst</h2>
                <div class="filterHighscore">
                    <div id="filterWorld" class="border" data-ng-click="loadHighscores(level, 'world');filterHighScores('world');" hover>
                        <img src="image/Iconen/World.png" alt="iedereen" />
                        <h2>Iedereen</h2>
                    </div>
                    <div id="filterSchool" data-ng-click="loadHighscores(level, 'school');filterHighScores('school');" data-ng-show="loggedIn" hover>
                        <img src="image/Iconen/School.png" alt="school" />
                        <h2>School</h2>
                    </div>
                    <div id="filterClass" data-ng-click="loadHighscores(level, 'class');filterHighScores('class');" data-ng-show="loggedIn" hover>
                        <img src="image/Iconen/Klas.png" alt="klas" />
                        <h2>Klas</h2>
                    </div>
                    <div id="filterIndividual" data-ng-click="loadHighscores(level, 'account');filterHighScores('personal');" data-ng-show="loggedIn" hover>
                        <img src="image/Iconen/Individueel.png" alt="individueel" style="height:59px" />
                        <h2>Persoonlijk</h2>
                    </div>
                </div>
                <div id="level-selector">
                    <h2 id="level-down" class="level-changer" data-ng-click="changeLevel('down')">⇚</h2>
                    <h2 id="level-indicator">LVL{{level}}</h2>
                    <h2 id="level-up" class="level-changer" data-ng-click="changeLevel('up')">⇛</h2>
                </div>
            </div>
            <div id="highscoreCarousel">
                <ul id="list-highscores-{{$index + 1}}" data-ng-repeat="highscoresCluster in highscoresClustered" class="listHighscores selected">
                    <li id="highscore-{{highscore.ranking}}" class="highscore-item" data-ng-class="($index == 0)?'selectedHighscore':''" data-ng-repeat="highscore in highscoresCluster" data-ng-click="viewCar(highscore)">
                        <p class="numberH">{{highscore.ranking}}</p>
                        <p class="nameH">{{highscore.name}}</p>
                        <p class="timeH">{{highscore.score}}</p>
                    </li>
                </ul>
                <div id="pager">
                    <span data-ng-repeat="highscoresCluster in highscoresClustered" id="pager{{$index + 1}}" data-ng-class="($index==0)?'activePager':'nonActivePager'" data-ng-click="changeScoresPage($index + 1)">&#9679</span>
                </div>
            </div>
            <div class="autoDisplay">
                <img id="currentHighScoreCar" class="auto" alt="auto" />
                <img class="footer" src="image/Highscore/AutoFooter.png" alt="auto plateau" />
            </div>
        </div><!-- Highscore slider end -->


    </div> <!--content end-->
</div> <!--container end-->