<div id="container">
    <!-- Angular directive for drawing the header -->
    <header></header>

    <div id="myProfile">
        <h1>Mijn profiel</h1>
        <div id="myProfileName" class="myProfileDivs"><h4>Naam: </h4><p>{{ getFullName(currentUser) }}</p></div>
        <br />
        <div id="myProfileSchool" class="myProfileDivs"><h4>School: </h4><p>{{ class.school.name }}</p></div>
        <br />

        <div id="myProfileClass" class="myProfileDivs">
            <h4>Klas: </h4><p>{{ class.name }}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a id="myProfileCustomizeStudents" href="">Leerlingen aanpassen</a></p></div>
        <br />

        <div id="myProfileEmail" class="myProfileDivs"><h4>Email: </h4><p>{{ getEmail(currentUser) }}</p></div>

        <br />
            <div class="myProfileDivs">
                <button type="button">Wachtwoord aanpassen</button>
            </div>
        <br />

        <div id="myProfileCar">
            <img src="/uploads/cars/{{currentUser._id}}/side.png" alt="gebruiker auto">
        </div>
    </div>

</div> <!--container end-->