<div id="container">
    <!-- Angular directive for drawing the header -->
    <header></header>

    <!-- form -->
    <div id="register">
        <h1>Registreren</h1>

        <form id="registerForm" name="registerForm">
            <p>Voornaam</p>
            <input type="text" placeholder="Voornaam" name="name" data-ng-model="teacher.firstName" required="required">
            <br/>

            <p>Tussenvoegsel</p>
            <input type="text" placeholder="Tussenvoegsel" name="preposition" data-ng-model="teacher.preposition">
            <br/>

            <p>Achternaam</p>
            <input type="text" placeholder="Achternaam" name="lastName" data-ng-model="teacher.lastName"
                   required="required">
            <br/>

            <p>Email</p>
            <input type="email" placeholder="Email" name="email" data-ng-model="teacher.email" required="required">
            <br/>


            <p>School</p>
            <ui-select id="select2RegisterSchool" class="select2Register" ng-model="teacher.school" theme="select2" on-select="enableClass($select.selected._id)">
                <ui-select-match placeholder="Kies een bestaande school of maak eentje zelf aan"
                                 style="padding-left: 0">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices class="bigdrop" repeat="school._id as school in schools | filter: {name: $select.search}">
                    <div ng-bind-html="school.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <br/>

            <p>Klas</p>
            <ui-select id="select2RegisterClass" class="select2Register" ng-model="teacher.class" theme="select2"
                       ng-disabled="disabled">
                <ui-select-match placeholder="Kies een klas van de gekozen school of maak eentje zelf aan"
                                 style="padding-left: 0">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices class="bigdrop" repeat="class._id as class in classes | filter: {name: $select.search}">
                    <div ng-bind-html="class.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <br/>

            <p>Wachtwoord</p>
            <input type="password" placeholder="Wachtwoord" name="password" data-ng-model="teacher.password"
                   pattern=".{6,}"
                   oninvalid="setCustomValidity('Uw wachtwoord is niet lang genoeg. Gebruik een minimum van 6 karakters.')"
                   required="required">
            <br/>

            <p>Wachtwoord herhalen</p>
            <input type="password" placeholder="Wachtwoord herhalen" name="repeatPassword"
                   data-ng-model="repeatPassword" pattern=".{6,}" required="required">
            <br/><br/>
            
            <input id="submitRegister" data-ng-click="register()" type="submit" value="Registreren"/>
        </form>
    </div>

</div> <!--container end-->