/** Auto pagina **/
#containerAuto{
    height: 576px;
    /**min-width: 1024px;**/
    margin: auto;
}
#containerAuto h2{
    color:white;
}

/** Menu Links **/
#menulinks{
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    height: 92vh;
    text-align: center;
    width: 10%;
    min-height: 576px;
    position: absolute;
    left: 0;
    padding-top: 1%
}
.linksMenu{
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    height: 92vh;
    text-align: center;
    width: 10%;
    min-height: 576px;
    display: none;
    position: absolute;
    left: 0;
}

.linksMenu div {
    height: 92vh;
    width: 100%;
}

.linksMenu .cycle-carousel {
    width: 100%;
    height: 75%;
}

.linksMenu .opties{
    height:10%;
    width: 40%;
    margin: 10% auto;
    border: 2px solid silver;
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.linksMenu .selecteerd{
    border: 2px solid gold;
    border-radius: 5px;
}

.linksMenu .scroll-button {
    height: 31px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.linksMenu .scroll-button.up {
    background-image: url('../image/Auto/scroll-up.png');
}

.linksMenu .scroll-button.up.disabled {
    background-image: url('../image/Auto/scroll-up-disabled.png');
}

.linksMenu .scroll-button.down {
    background-image: url('../image/Auto/scroll-down.png');
}

.linksMenu .scroll-button.down.disabled {
    background-image: url('../image/Auto/scroll-down-disabled.png');
}

.selectie{
    margin: 5px auto 40px;
    position: relative;
}
.selectie img{
    width: 35%;
}

.selectie h2 {
    margin: 0;
}

/** Menu Links End **/
/** Middenstuk **/
#content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#view{
    margin: 0 auto;
    width: 25%;
    padding: 0 0 1% 0;
}

#view img{
    margin: 5% 5% 0;
    width: 38%;
}

#auto{
    position: relative;
}

#auto img{
    margin-top:10%;
    width:90%;
}

#draw-area-top {
    display: none;
}

#delete-zone {
    display: none;
    position: absolute;
    left: 45%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 2%;
}

#delete-zone img {
    width: 40%;
}

/** Middenstuk End **/
/** Menu Rechts **/
#menurechts{
    background-color: rgba(0, 0, 0, 0.7);
    float: right;
    height: 92vh;
    text-align: center;
    width: 10%;
    min-height: 576px;
    position: absolute;
    right: 0;
    top: 11%;
    padding-top: 1%
}

#menurechts #edit {
    float: left;
}

#menu-right-bottom{
    bottom: 3%;
    position: absolute;
}

/** Dropzone upload gebied **/

#dropzone-div {
    position: fixed;
    height: 360px;
    width: 600px;
    background: white;
    display: none;
    bottom: 0;
    left: 10%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

/** Dropzone end **/

/** ColorPicker gebied **/

#wColorPicker {
    position: fixed;
    bottom: 0;
    left: 10%;
    display: none;
}

/** ColorPicker end **/

/** Auto pagina End**/