/**  Highscore Start **/

#highscoreCarousel ul {
    padding: 0;
    width: 100%;
}

#highscoreCarousel{
    float: left;
    width: 50%;
}

#list-highscores-2, #list-highscores-3, #list-highscores-4, #list-highscores-5 {
    display: none;
}

#pager {
    float: left;
    margin-left: 25%;
    margin-top: -1.5%;
}

#pager span {
    font-size: 25px;
}

.listHighscores {
    list-style-type: none;
    float: left;
}
.listHighscores p {
    display: inline-block;
    color: #ffffff;
    padding: 5px 0px;
    margin: 0 0 0 -3px;
}

.navHighscore{
    margin: 5% 1% 2%;
}

.filterHighscore div {
    overflow: hidden;
    float: left;
    margin: 0 1%;
    text-align: center;
}

.filterHighscore div h2 {
    font-size: 1em;
    float: none;
}

.filterHighscore img{
    height: 60px;
}

.border {
     border-bottom: 1px solid white;
}

.navHighscore h2{
    font-size: 20pt;
    float: left;
    margin: 1%;
    color: white;
}

.highTitle{
    float: left;
    height: 30%;
    width: 100%;
}

.autoDisplay{
    float: right;
    height: 165px;
    position: relative;
    width: 50%;
}

.autoDisplay img{
    position: absolute;
}

.autoDisplay .auto{
    z-index: 1;
    width:70%;
    left:15%;
}

.autoDisplay .footer{
    bottom: 0;
    z-index: 0;
    width:80%;
    left:10%;
}

.selected .numberH {
    width: 20%;
    padding-left: 5px;
}
.selected .nameH {
    width: 50%;
    padding-left: 5px;
}
.selected .timeH {
    width: 20%;
    padding-left: 5px;
}

.activePager {
    color: rgb(59, 102, 176);
}

.nonActivePager {
    color: rgb(255, 255, 255);
}

.selectedHighscore {
    background: rgb(59, 102, 176);
}

.filterHighscore:hover, .highscore-item:hover, .activePager:hover, .nonActivePager:hover{
    cursor: pointer;
}

#level-selector {
    float: right;
    width: 15%;
}

#level-selector h2 {
    float: left;
}

#level-selector #level-indicator {
    padding: 0 10px;
}

#level-selector .level-changer {
    cursor: pointer;
}
