select,
span {
	font-family: 'Exo 2', sans-serif;
	font-size: 11pt;
}

.list-names-error-message {
	color: red;
}

#tabsContainer {
	position: absolute;
	right: 10%;
    top: 11.5%;
	z-index: 100;
	display: none;
}

#tabsContainer select{
    width:100%;
    border: 0 !important;  /*Removes border*/
    border-radius: 0;
}

#tabsContainer button{
    border: 0 !important;  /*Removes border*/
    border-radius: 0;
    background-color: #77532f;
    color: white;
    font-family: "Exo 2",sans-serif;
    font-size: 11pt;
}

#tabContent h2{
    font-size: 24pt;
    color: white;
}

.dropdownbox{
    background: url("../image/Home/Dropdown.jpg") no-repeat scroll right center #ddd;
    overflow: hidden;
}

.dropdownbox select{
    background: none repeat scroll 0 0 transparent;
    width: 110% !important;
    margin-top: -1px;
}

#tabs {
	position: absolute;
	left: -113px;
}

#tabs ul {
	list-style: none;
}

#tabs ul li {
	border-top: 1px solid #77532f;
	border-right: 1px solid #77532f;
	border-bottom: 1px solid #77532f;
	border-left: 8px solid #77532f;
	background-color: white;
	margin: 8px 0;
	cursor: pointer;
}

#tabsContainer a{
    color: #77532f;
}

#tabs ul li a,
#tabs ul li a:visited {
	text-decoration: none;
	color: #77532f;
	display: block;
	padding: 15px 5px;
}

#tabs ul li:hover {
	border-left: 8px solid #333;
}

#tabs ul li a:hover {
	color: black;
}

#tabContent {
    background-color: #ccb49a;
    min-height: 350px;
    padding: 1px 20px 20px;
    width: 250px;
}

#studentLogIn {
	display: none;
}

#teacherLogIn {
	display: none;
}

#login-button {
	height: 8%;
	float: right;
	cursor: pointer;
}

#login-button p {
	margin-top: 7.5%;
    color: white;
}

.textmiddle {
	vertical-align: middle;
}

/* User Info Box */
#user-info {
	font-family: 'Exo 2', sans-serif;
	color: white;
	display: none;
	font-size: 17px;
	float: right;
}

#user-info-2 {
	display: inline-block;
	vertical-align: middle;
}

#user-info-car {
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

#user-info-name {
	padding-right: 10px;
}

#user-info-level-unlocked {
	padding-right: 10px;
}

#logout-button {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 1060px) {
	#user-info-car {
		display: none;
	}
}