#myProfile{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    width: 80%;
    overflow: auto;
    padding-bottom: 10px;
    margin-top: 30px;
    max-width: 1045px;
}

#myProfile h1 {
    color: white;
    margin: 15px 10px;
}

#myProfile h4 {
    width: 200px;
    display: inline-block;
}

#myProfile p {
    width: 500px;
    display: inline-block;
}

#myProfile a:link {
    color: white;
}

#myProfile a:visited {
    color: white;
}

#myProfile a:hover {
    color: #b0c1df;
    background-color: #3d67b1;
}

#myProfileCar {

}

.myProfileDivs {
    color: white;
    margin: 15px 10px;
    height: 0;
}