#register{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    width: 80%;
    overflow: auto;
    padding-bottom: 10px;
    margin-top: 30px;
    max-width: 1045px;
}

#register h1,
#register p {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 200px;
}

#register input {
    width: 450px;
    font-family: 'Exo 2', sans-serif;
}

#register input[type="submit"] {
    width: 20%;
    margin-left: 75%;
}

#registerForm {
    padding: 10px;
}

.select2Register {
    width: 455px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.select2Register input {
    width: 450px;
}

.select2-container .select2-choice {
    border-radius: 0;
}

.bigdrop {
    max-height: 100px;
}