body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../image/Home/Background.jpg");
    margin: 0;
    min-width: 879px;
}

#container{
    height: 576px;
    padding-bottom: 10px;
}

/** set up **/
p, h1, h2, h3, h4, h5, li, a, td{
    font-family: 'Exo 2', sans-serif;
    font-size: 11pt;
}

h1{
    font-size: 18pt;
    font-weight: bold;
}

/** header **/
header{
    background-color: rgba(0, 0, 0, 0.7);
    height: 10%;
    margin: 0 auto;
    padding: 1% 10%;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#logo{
    float: left;
    height: 100%;
}


header table{
    float: right;
}
header table tr{
    line-height: 80%;
}

header a {
    color: white;
    text-decoration: none;
}

header a img {
    border: none;
}

/**  header end **/

    /**  navigation **/
.nav{
    float: left;
    height: 100%;
    margin-right: 20px;
    text-align: center;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav h2 {
    margin: 0;
}

.nav img{
    height: 60%;
 }

.nav.border {
    border-bottom: 1px solid white;
}

/**  navigation end **/
#tekstContent{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    width: 80%;
    overflow: auto;
    padding-bottom: 10px;
    margin-top: 30px;
    max-width: 1045px;
}
.welkom{
    margin: 0 auto;
    color: white;
}

.welkom h2{
    margin: 0;
    padding: 2% 2% 0;
    font-size: 24pt;
}

.welkom p{
    padding: 1% 2% 2%;
    margin-top: 0;
    font-size: 14pt;
}

.color{
    background-color: #3d67b1;
    opacity: 0.4;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}