    <img id="logo" src="image/Home/Logo.png" alt="logo" />
    
    <a href="/">
        <div id="nav-home" class="nav border" style="margin-left: 3%;" hover>
            <img src="image/Iconen/home.png" alt="home" />
            <h2>Home</h2>
        </div>
    </a>
    
    <a href="/game">
        <div id="nav-spelen" class="nav" hover>
            <img src="image/Iconen/Spelen.png" alt="spelen" />
            <h2>Racen</h2>
        </div>
    </a>

    <a href="/#/customize">
        <div id="nav-customize" class="nav" hover>
            <img src="image/Iconen/Garage.png" alt="garage" />
            <h2>Ontwerpen</h2>
        </div>
    </a>
    
    <!-- Angular Directive for logging in -->
    <login></login>