<div id="login-directive">
    <div id="login-button" data-ng-click="openLoginForm()"><p>Log in <img class="textmiddle" src="image/Iconen/Login.png" alt="log in" /></p></div>

    <!-- User Info Box -->
    <div id="user-info">
        <div id="user-info-car">
            <img src="/uploads/cars/{{currentUser._id}}/side.png" alt="gebruiker auto" height="50px"/>
        </div>
        <div id="user-info-2">
            <a href="/#/mijnProfiel">
                <div id="user-info-name">
                    {{ getFullName(currentUser) }}
                </div>
            </a>
            <div id="user-info-level-unlocked">
                {{ currentUser.levelUnlocked }}
            </div>
        </div>
        <div id="logout-button" data-ng-click="logout()"><img src="../image/Iconen/Logout.png" height="50px"></div>
    </div>

    <!-- The login form -->
    <div id="tabsContainer">
        <div id="tabs">
            <ul>
                <li><a id="tab1" data-ng-click="selectTab('Student')">Leerling</a></li>
                <li><a id="tab2" data-ng-click="selectTab('Teacher')">Leraar</a></li>
            </ul>
        </div>
        <div id="tabContent">
            <!-- form -->
            <div id="studentLogIn">
                <form id="loginFormS" name="loginFormS">

                    <h2>Inloggen</h2>

                    <p>Vul jouw <strong>School</strong> in</p>
                    <div class="dropdownbox">
                        <select name="schools" form="loginFormS" data-ng-model="user.school">
                            <option value="">Selecteer je school</option>
                            <option data-ng-repeat="school in schools" value="school._id">{{school.name}}</option>
                        </select>
                    </div>

                    <p>Vul jouw <strong>Klas</strong> in</p>

                    <div class="dropdownbox">
                        <select name="classes" form="loginFormS" data-ng-model="user.class">
                            <option value="">Selecteer je <strong>groep of klas</strong></option>
                            <option data-ng-repeat="class in classes" value="class._id">{{class.name}}</option>
                        </select>
                    </div>
                    <br /><br />

                    <input type="text" placeholder="Naam" name="name" style="width: 97%;" data-ng-model="studentFilter"><br />
                    <select name="listNames" size="5" data-ng-model="user.id" required="required">
                        <option value="">Selecteer je naam in deze lijst</option>
                        <option data-ng-repeat="student in students | filter:studentFilter" value="{{ student._id }}">{{ getFullName(student) }}</option>
                    </select>
                    <span ng-show="loginFormS.listNames.$invalid" class="list-names-error-message">{{errors.listNames}}</span>

                    <p>Vul jouw <strong>Wachtwoord</strong> in</p>

                    <input name="passFieldS" type="password" placeholder="Wachtwoord" id="psws" size="25" data-ng-model="user.password" style="width: 98.5%" required="required">
                    <span ng-show="loginFormS.passFieldS.$invalid" class="list-names-error-message">{{errors.passFieldS}}</span>

                    <br /><br />

                    <a href="">Ben jij jouw <strong>Wachtwoord</strong> vergeten?</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    <input id="submitPassStudent" data-ng-click="login(user)" type="submit" value="Log in" />

                </form>
            </div>
            <div id="teacherLogIn">
                <form id="loginFormT" name="loginFormT">

                    <h2>Inloggen</h2>

                    <p>Email</p>

                    <input type="email" placeholder="Email" name="name" data-ng-model="teacher.email" style="width: 98.5%" required="required"><br />

                    <p>Wachtwoord</p>

                    <input name="passFieldT" type="password" placeholder="Wachtwoord" id="pswt" data-ng-model="teacher.password" size="25" style="width: 98.5%" required="required">
                    <span ng-show="loginFormT.passFieldT.$invalid" class="list-names-error-message">{{errors.passFieldT}}</span>

                    <br /><br />

                    <a href="">Wachtwoord vergeten?</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    <input id="submitPassTeacher" type="submit" data-ng-click="loginTeacher(teacher)" value="Log in" />

                </form>
            </div>
        </div>
    </div> <!-- Login form end -->
</div>