<div id="containerAuto" data-ng-init="slideMenusIn()">
    <!-- Angular directive for drawing the header -->
    <header></header>
    
    <div id="velgen" class="linksMenu">
        <img src="image/Auto/Terug.png" alt="Terug" data-ng-click="menuLinksTerug('velgen')" />
        <div id="scroll-up-velgen" class="scroll-button up"></div>
        <div id="cycle-velgen" class="cycle-carousel">
            <div data-ng-repeat="rim in rims" class="opties" data-ng-click="selecteerOptie('rim', rim, $event)" style="background-image: url('image/Auto/velgen/{{ rim }}.png')"></div>
        </div>
        <div id="scroll-down-velgen" class="scroll-button down"></div>
    </div>
    <div id="verven" class="linksMenu">
        <img src="image/Auto/Terug.png" alt="Terug" data-ng-click="menuLinksTerug('verven')" />
        <div id="scroll-up-verven" class="scroll-button up"></div>
        <div id="cycle-verven" class="cycle-carousel">
            <div data-ng-repeat="color in colors" class="opties" data-ng-click="selecteerOptie('color', color, $event)" style="background-color: {{ color }}"></div>
            <div id="color-picker-button" class="opties" data-ng-click="showColorPicker($event)" style="background-image: url('image/Auto/colorpicker.png')"></div>
        </div>
        <div id="scroll-down-verven" class="scroll-button down"></div>
    </div>
    <div id="patroon" class="linksMenu">
        <img src="image/Auto/Terug.png" alt="Terug" data-ng-click="menuLinksTerug('patroon')" />
        <div id="scroll-up-patroon" class="scroll-button up"></div>
        <div id="cycle-patroon" class="cycle-carousel">
            <div data-ng-repeat="pattern in patterns" class="opties" data-ng-click="selecteerOptie('pattern', pattern, $event)" style="background-image: url('{{ pattern }}')"></div>
            <div class="opties" data-ng-click="showDropzone($event)"></div>
        </div>
        <div id="scroll-down-patroon" class="scroll-button down"></div>
    </div>
    <div id="stikkers" class="linksMenu">
        <img src="image/Auto/Terug.png" alt="Terug" data-ng-click="menuLinksTerug('stikkers')" />
        <div id="scroll-up-stikkers" class="scroll-button up"></div>
        <div id="cycle-stikkers" class="cycle-carousel">
        <div data-ng-repeat="sticker in stickers" class="opties" data-ng-click="selecteerOptie('sticker', sticker, $event)" style="background-image: url('image/Auto/stickers/{{ sticker }}.png')"></div>
        </div>
        <div id="scroll-down-stikkers" class="scroll-button down"></div>
    </div>
    <div id="Tekenen" class="linksMenu" hover>
        <img src="image/Auto/Terug.png" alt="Terug" data-ng-click="menuLinksTerug('Tekenen')" />
    </div>

    <div id="dropzone-div"></div>
    
    <div id="wColorPicker"></div>

    <div id="menulinks">
        <div class="selectie" data-ng-click="openTools('velgen');" hover>
            <img src="image/Auto/Velgen.png" alt="Velgen" />
            <h2>Velgen</h2>
        </div>
        <div class="selectie" data-ng-click="openTools('verven');" hover>
            <img src="image/Auto/Verven.png" alt="Verven" />
            <h2>Verven</h2>
        </div>
        <div class="selectie" data-ng-click="openTools('patroon');" hover>
            <img src="image/Auto/Patroon.png" alt="Patroon" />
            <h2>Patroon</h2>
        </div>
        <div class="selectie" data-ng-click="openTools('stikkers');" hover>
            <img src="image/Auto/Stikkers.png" alt="Stikkers" />
            <h2>Stickers</h2>
        </div>
        <!--<div class="selectie" data-ng-click="openTools('Tekenen');">

            <img src="image/Auto/Tekenen.png" alt="Tekenen" />
            <h2>Tekenen</h2>
        </div>-->
    </div>
    <div id="content" >
        <div id="auto">
            <svg id="draw-area-top" class="draw-area" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="720" height="500">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="30 0 830 500" enable-background="new 0 0 841.9 595.3" xml:space="preserve">
                        <g>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M829.1,347.8c0,11.3,0,18.4,0,18.4c6.7-0.6,3.4,7.4,2.8,18.7c-0.6,11.3-13.4,62.5-13.4,62.5c-3.7,19-17.5,17.6-17.5,17.6
                                s-133.4,1.2-155,2.1c-21.6,0.9-33-19.8-33-19.8c84.3-9.9,131.7-30.2,131.7-30.2l63.4-5l0-0.1c0.4,0.1,0.9,0,1.4-0.2
                                c12.4-5.7,12.2-26.5,12.2-26.5s0-0.1,0-0.3c0.1-0.8,0.3-3.2,0.6-6.7c0.7-7.7,1.8-20.8,2.6-34.5c0.7-12.4,1.3-25.4,1.1-35.5v-63.8
                                c0.2-10.3-0.4-23.8-1.2-36.6c-0.8-13-1.8-25.2-2.5-32.7c-0.3-3-0.5-5.3-0.6-6.5c-0.1-0.7-0.1-1.1-0.1-1.1s0.2-17.8-12.2-23.4
                                c-0.6-0.3-1.2-0.3-1.7-0.2l-63-5c0,0-47.5-20.3-131.7-30.2c0,0,11.3-20.8,33-19.8c21.6,0.9,155,2.1,155,2.1s13.8-1.3,17.5,17.7
                                c0,0,12.7,51.2,13.4,62.5c0.6,11.4,3.9,19.3-2.8,18.7c0,0,0,7.1,0,18.4c0,0.4,0,0.8,0,1.2c0,17,0,42.8,0,68.5s0,51.5,0,68.5
                                C829.1,347,829.1,347.4,829.1,347.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M807.7,143.9c0.5-0.2,1.1-0.1,1.7,0.2c12.4,5.7,12.2,23.4,12.2,23.4s0,0.4,0.1,1.1l-2.5,0.1c-0.9-9.1-3.4-15.8-6.5-15.8
                                c-3.7,0-6.8,10-6.8,22.4s3,22.4,6.8,22.4c3.7,0,6.8-10,6.8-22.4l2.8-0.2c0.7,7.5,1.7,19.8,2.5,32.7c-2.8-5.4-4.8,0.8-4.8,0.8V343
                                c0,0,1.9,6.2,4.8,0.8h0.1c-0.8,13.8-1.9,26.9-2.6,34.5l-2.7-0.2c0-12.4-3-22.4-6.8-22.4c-3.7,0-6.8,10-6.8,22.4
                                c0,12.4,3,22.4,6.8,22.4c3,0,5.6-6.6,6.5-15.7l2.4,0.2c0,0.2,0,0.3,0,0.3s0.2,20.8-12.2,26.5c-0.5,0.2-0.9,0.3-1.4,0.2
                                c-6.4-1-6.8-33.6-6.1-54.2c0,0,0.6-130.4,1-144.3c0.1,0.8,0.1,0.6,0.1-0.6c0-1-0.1-0.7-0.1,0.6
                                C802.2,207.6,798.8,146.6,807.7,143.9z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M822.3,175.3l-2.8,0.2c0-2.3-0.1-4.6-0.3-6.7l2.5-0.1C821.8,170,822,172.2,822.3,175.3z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M819.5,378.1l2.7,0.2c-0.3,3.5-0.5,5.9-0.6,6.7l-2.4-0.2C819.4,382.7,819.5,380.4,819.5,378.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M819.2,168.8c0.2,2.1,0.3,4.4,0.3,6.7c0,12.4-3,22.4-6.8,22.4c-3.7,0-6.8-10-6.8-22.4s3-22.4,6.8-22.4
                                C815.8,153.1,818.4,159.7,819.2,168.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M819.5,378.1c0,2.3-0.1,4.6-0.3,6.7c-0.9,9.1-3.4,15.7-6.5,15.7c-3.7,0-6.8-10-6.8-22.4
                                c0-12.4,3-22.4,6.8-22.4C816.5,355.7,819.5,365.7,819.5,378.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M732.2,196.5c-0.5-0.3-1.1-0.4-1.7,0c-5.7-0.1-24.6-0.3-46.5,1.6c-26.2,2.2-38,22-38,22
                                c-9.8,67.4-0.5,117.8-0.5,117.8s11.7,19.7,38,22c22.4,1.9,41.7,1.7,46.9,1.6c2.2,1.2,3.6-2.1,2.8-6.5c-0.9-4.8,3.4-76,3.4-77.2
                                c0-1.2-4.3-69.9-3.4-74.7C733.8,199.8,733.3,197.3,732.2,196.5z M808,412.1l0,0.1l-63.4,5c0,0-47.5,20.3-131.7,30.2
                                c-7.3,0.8-14.8,1.6-22.6,2.3c-7,0.6-13.9,1.2-20.6,1.7l0-0.2l-92.8-26.6c0,0,18.4-2.9,24.6-6.7l71.4,15.5
                                c0,0,83.8-157.7-4.8-308.5L498,145.1c-2.4-2.1-18.3-11.9-20.7-13.4l-0.3-0.2l92.8-26.6l0-0.1c6.7,0.5,13.6,1.1,20.6,1.7
                                c7.8,0.7,15.3,1.5,22.6,2.3c84.3,9.9,131.7,30.2,131.7,30.2l63,5c-8.9,2.7-5.4,63.7-4.8,69.7c-0.3,13.9-1,144.3-1,144.3
                                C801.3,378.4,801.6,411,808,412.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M730.4,361.3c-1.6-0.8-3.6-3.9-5.5-10.5c-0.6-2,1.4-78.1,1.4-78.1c-0.2-34.2-1.9-64-1.4-65.7
                                c2-6.6,4-9.7,5.5-10.6c0.9,0,1.5,0,1.7,0c1.1,0.8,1.6,3.4,1.1,6.4c-0.9,4.8,3.4,73.5,3.4,74.7c0,1.2-4.4,72.5-3.4,77.2
                                C734,359.2,732.6,362.5,730.4,361.3z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M684,198c21.9-1.9,40.8-1.7,46.5-1.6c-1.6,0.8-3.6,3.9-5.5,10.6c-0.5,1.8,1.2,31.5,1.4,65.7
                                c0,0-2,76.1-1.4,78.1c2,6.6,3.9,9.7,5.5,10.5c-5.2,0.1-24.5,0.4-46.9-1.6c-26.2-2.3-38-22-38-22s-9.3-50.4,0.5-117.8
                                C646,220,657.8,200.3,684,198z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M568.1,124.9c88.5,150.8,4.8,308.5,4.8,308.5l-71.4-15.5C561,279.8,498,145.1,498,145.1L568.1,124.9z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M522.8,101.6c14.9,0.9,30.6,1.9,46.9,3.2l0,0.1l-92.8,26.6c0,0-71.7,1.2-87,1c-4.1-0.1-6.9-0.4-8.9-0.8
                                c-5.5-1.3-4.5-3.6-4.5-3.6c0.6-23.3-3.4-29.2-3.4-29.2l0-0.2c36.9-1,84-0.7,142.1,2.5C517.8,101.3,520.3,101.4,522.8,101.6z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M522.8,454.6c-2.6,0.1-5.1,0.3-7.6,0.4c-58.1,3.2-105.2,3.5-142.1,2.5l0-0.3c0,0,4-5.9,3.4-29.2
                                c0,0-1.6-3.4,9.3-4.2c1.2-0.1,2.5-0.1,4.1-0.2c15.3-0.2,87,1,87,1l92.8,26.6l0,0.2C553.4,452.7,537.8,453.8,522.8,454.6z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M524.6,68.5c2.3,5.8-1.3,30.1-1.8,33.1c-2.6-0.1-5.1-0.3-7.6-0.4l0-0.4l3.4-31.6
                                C518.7,69.1,522.1,62.2,524.6,68.5z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M522.8,454.6c0.5,3.1,4.1,27.3,1.7,33.1c-2.5,6.2-5.9-0.6-5.9-0.6l-3.4-31.6l0-0.4
                                C517.8,454.9,520.3,454.8,522.8,454.6z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M385.8,423.6c-10,0.7-24.2-0.3-29.3-0.8c-1-0.3-1.9-0.2-1.9-0.2s-38.8-1.6-50.5-2.5c-2.1-0.2-3.8-0.2-5.1-0.1V420
                                c-7.3-0.3-22-3.7-22-3.7h0c0.2-4.1,0.2-8.7,0-13.9c-0.8-16.7-0.4-80.5-0.4-80.5s-1.6-126.8,0.4-168c0.3-5.5,0.2-10.3,0-14.6
                                c8.2-3.2,20.9-3.2,20.9-3.2l0-0.2c1.5,0.2,3.5,0.2,6.3,0c11.7-0.9,50.5-2.5,50.5-2.5s0.3,0,0.8,0c0.1,0,0.2,0,0.3,0
                                c0.1,0,0.2,0,0.3,0c0,0,0,0,0,0c3.2-0.3,16.5-1.7,25-1.7c2,0.4,4.8,0.8,8.9,0.8c15.3,0.2,87-1,87-1l0.3,0.2l20.7,13.4
                                c0,0,63,134.7,3.5,272.8c-6.2,3.9-24.6,6.7-24.6,6.7s-71.7-1.2-87-1c-1.5,0-2.9,0.1-4.1,0.2L385.8,423.6z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M498,145.1l-20.7-13.4C479.7,133.2,495.6,143,498,145.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M385.8,423.6l0,0.2c-10.9,0.8-9.3,4.2-9.3,4.2c0.6,23.4-3.4,29.2-3.4,29.2l0,0.3
                                c-6.5-0.2-12.7-0.4-18.5-0.6c4.3-10,3.1-27.6,3.7-31.2c0.3-1.9-0.8-2.6-1.8-2.9C361.6,423.3,375.8,424.4,385.8,423.6z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M373.1,98.8c0,0,4,5.9,3.4,29.2c0,0-1.1,2.3,4.5,3.6c-8.5,0-21.8,1.4-25,1.7c1.2-0.2,2.6-0.9,2.3-3
                                c-0.5-3.5,0.6-21.1-3.6-31.1c5.8-0.2,12-0.5,18.5-0.7L373.1,98.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M358.3,130.4c0.3,2.1-1.1,2.8-2.3,3c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0
                                c-0.5,0-0.8,0-0.8,0s-38.8,1.6-50.5,2.5c-2.7,0.2-4.8,0.2-6.3,0c-4.9-0.6-4.1-2.8-4.1-2.8c2-10.5-2.8-28.9-2.8-28.9
                                c14.4-1.7,35.4-3.7,63.7-4.9C358.9,109.3,357.7,126.8,358.3,130.4z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M356.5,422.9c1,0.3,2.1,1,1.8,2.9c-0.5,3.5,0.6,21.2-3.7,31.2c-28.2-1.2-49.3-3.2-63.6-4.9l0-0.1
                                c0,0,4.8-18.4,2.8-29c0,0-0.9-2.5,5.2-2.9c1.3-0.1,3-0.1,5.1,0.1c11.7,0.9,50.5,2.5,50.5,2.5S355.3,422.8,356.5,422.9z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M355.7,133.4c0.1,0,0.2,0,0.3,0C355.9,133.4,355.8,133.4,355.7,133.4z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M354.6,422.7c0,0,1-0.1,1.9,0.2C355.3,422.8,354.6,422.7,354.6,422.7z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M282,450.9c-10-1.4-14.8-2.4-14.8-2.4s-1-0.2-2.8-0.5c1.7-0.7,11.1-5.8,12.5-31.6h0c0,0,14.7,3.4,22,3.7
                                v0.1c-6.1,0.4-5.2,2.9-5.2,2.9c2,10.5-2.8,29-2.8,29l0,0.1C287.6,451.6,284.7,451.2,282,450.9z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M297.9,135.9l0,0.2c0,0-12.7,0.1-20.9,3.2c-1.7-27.7-12.8-31-12.8-31l0,0c2-0.3,3.1-0.5,3.1-0.5
                                s4.9-1,15-2.5c2.6-0.3,5.5-0.7,8.7-1.1c0,0,4.8,18.4,2.8,28.9C293.8,133.1,293,135.4,297.9,135.9z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M276.9,139.3c0.3,4.3,0.3,9.1,0,14.6c-2,41.2-0.4,168-0.4,168s-0.4,63.8,0.4,80.5c0.2,5.2,0.2,9.8,0,13.9
                                c-1.4,25.9-10.9,30.9-12.5,31.6c-16.8-2.8-104.5-17.2-146.3-22.6c-2.9-0.4-5.6-0.7-8.1-1c-41-4.7-34-34.2-37.6-47.2
                                c-0.3-1.1-0.6-2.6-0.8-4.4c-2.7-21.4-2.2-90.9-2.2-90.9s-0.5-74.3,2.1-97.5c0.3-2.3,0.6-4.1,0.9-5.2C76,166,69,136.5,110,131.8
                                c2.4-0.3,5.2-0.6,8.1-1c41.6-5.4,128.6-19.6,146.1-22.5l0,0C264.2,108.3,275.2,111.6,276.9,139.3z M87.6,154.6
                                c3-5.7,4.5-6.4,3.3-7.4s-6.1-1.4-8.2,0.3c-7.1,6.6-6.8,25.9-6.9,28.1c-0.1,2.2,0.2,3.5,3.5,3.6c3.2,0,2.9-3,2.9-3
                                S82.2,163.5,87.6,154.6z M90.9,405.1c1.2-1.1-0.4-1.7-3.3-7.4c-5.4-9-5.3-21.5-5.3-21.5s0.3-3-2.9-3c-3.2,0-3.6,1.4-3.5,3.6
                                c0.1,2.2-0.2,21.5,6.9,28.1C84.8,406.5,89.8,406.2,90.9,405.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M103.8,91.9c2.7-1,8-2.2,18.2-2.4l127.8-1.3c0,0,0.2,0,0.5,0c3.1,0.2,20.6,1.8,32,17.1c-10.1,1.4-15,2.5-15,2.5
                                s-1.1,0.2-3.1,0.5c-17.5,2.9-104.5,17.2-146.1,22.5L118,130c0,0,0-8.4-14-3.2l-26.3,6.8c0,0-1.2,0.4-2.8,1.2
                                c0.8-2.5,9.5-30.5,26-41C100.9,93.8,101.3,92.9,103.8,91.9z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M264.4,448c1.8,0.3,2.8,0.5,2.8,0.5s4.8,1,14.8,2.4c-11.4,15.2-28.7,16.9-31.8,17.1c-0.3,0-0.5,0-0.5,0L122,466.7
                                c-10.2-0.3-15.4-1.4-18.2-2.5c-2.5-1-2.9-1.8-2.9-1.8c-16.6-10.5-25.3-38.7-26.1-41c1.6,0.8,2.8,1.2,2.8,1.2l26.3,6.8
                                c14,5.2,14-3.2,14-3.2l0.1-0.8C159.9,430.8,247.6,445.2,264.4,448z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M250.3,88.1l0,0.2c-0.3,0-0.5,0-0.5,0L122,89.5c-10.2,0.3-15.4,1.4-18.2,2.4c2-2.2,9.8-10.6,15.5-11.3L238,80.2
                                C242,80.6,247,84.8,250.3,88.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M250.3,468l0,0.2c-3.3,3.3-8.3,7.5-12.3,7.9l-118.6-0.5c-5.8-0.7-13.5-9-15.5-11.3c2.7,1,8,2.2,18.2,2.5l127.8,1.3
                                C249.8,468,250,468,250.3,468z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M74.9,421.4c-3.1-1.5-7.7-4.6-9.2-9.8c-2.3-7.8-5.5-39.9-5.7-41.6c2.1,2.4,5.5,3.9,11,2.8l0.6-0.1
                                c0.2,1.9,0.5,3.4,0.8,4.4c3.6,13.1-3.4,42.5,37.6,47.2c2.4,0.3,5.2,0.6,8.1,1l-0.1,0.8c0,0,0,8.4-14,3.2l-26.3-6.8
                                C77.7,422.6,76.5,422.2,74.9,421.4z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M74.9,134.8c1.6-0.8,2.8-1.2,2.8-1.2l26.3-6.8c14-5.2,14,3.2,14,3.2l0.1,0.8c-2.9,0.4-5.6,0.7-8.1,1
                                c-41,4.7-34,34.2-37.6,47.2c-0.3,1.2-0.6,3-0.9,5.2l-0.5-0.1c-5.3-1.1-8.7,0.2-10.8,2.5l-0.2-0.5c0,0,3.4-33.7,5.7-41.7
                                C67.2,139.4,71.8,136.3,74.9,134.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M90.9,147.1c1.2,1.1-0.4,1.7-3.3,7.4c-5.4,8.9-5.3,21.5-5.3,21.5s0.3,3-2.9,3c-3.2,0-3.6-1.4-3.5-3.6
                                c0.1-2.2-0.2-21.5,6.9-28.1C84.8,145.7,89.8,146.1,90.9,147.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M87.6,397.7c3,5.7,4.5,6.4,3.3,7.4c-1.2,1.1-6.1,1.4-8.2-0.3c-7.1-6.6-6.8-25.9-6.9-28.1
                                c-0.1-2.2,0.2-3.5,3.5-3.6c3.2,0,2.9,3,2.9,3S82.2,388.7,87.6,397.7z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M60,370c-4.2-4.8-3.2-13.5-3.2-13.5v-156c0,0-1-8.9,3.4-13.7c2.1-2.3,5.5-3.6,10.8-2.5l0.5,0.1
                                c-2.6,23.2-2.1,97.5-2.1,97.5s-0.5,69.5,2.2,90.9l-0.6,0.1C65.5,373.9,62.1,372.5,60,370z"/>
                        </g>
                    </svg>
            </svg>
            <svg id="draw-area-side" class="draw-area" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="720" height="500">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="30 50 760 500" enable-background="new 0 0 841.9 595.3" xml:space="preserve">
                        <g>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M55.4,271.9c0,0-4,39.1-2.2,42.8l1.2,14.2c0,0,0.8,2-1.2,2.5s-8,3-8,3v21c0,0,3,22.1,10.2,32.4
                                c6-40.6,56.2-94.7,101.2-94.7c38.9,0,89.8,34.1,97.4,75.2c0,0,1.2,4.8,2.7,10.9l268.9,9.4v-24.1h0c-0.3,3.8-2.4,10.9-13.5,10.9
                                c-15.1,0-129.5-4.2-129.5-4.2s-6-2.2-10.8-9c-4.8-6.8-26.7-36.5-26.7-36.5s-1.6-1.8-2-6.5c-0.4-4.8-4.4-121.5-4.4-121.5
                                s0-9.6,10.8-10.8c0.3,0,0.7-0.1,1.1-0.1l-39.8,1.9c2.3,0.2,8.1,1.2,8.4,7.9l7,164.3c0,0,0.3,6.5-7,7.1c-7.3,0.7-45.8,0-45.8,0
                                s-8-1-8.3-10S258.4,202,258.4,202s-1.3-8.6,7.3-9.6l-25.8,2.8c-0.5,9-0.8,22.9,0.1,42.8c1.2,27.2-16,27.7-16,27.7l-168.5,2
                                l-0.2,0c-0.1,0.5-0.1,0.9-0.2,1.2C55.1,268.9,55,270.4,55.4,271.9z M55.8,313.8l2.9-38.1c3.8,0.8,3.8,0.8,3.8,0.8
                                s2.5-1.5,2.8,4.8s-5.2,28.2-5.2,28.2S59.1,312.1,55.8,313.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M55.2,267.7l0.2,0l168.5-2c0,0,17.2-0.5,16-27.7c-0.9-19.9-0.6-33.8-0.1-42.8c0.5-9.2,1.3-13.3,1.3-13.3
                                c-9.9,0.9-17.3,1.6-19.1,1.9c-3.9,0.6-7.8,0.8-11.8,1.3C201.9,186.1,98,203.3,93,204.6c-5.9,1.4-11.8,3.1-17.3,5.8
                                c-7.6,3.7-11.9,10.1-13.9,18.2C59.5,237.3,56.3,261.3,55.2,267.7z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M256.8,379.3c-1.5-6.2-2.7-10.9-2.7-10.9c-7.6-41.1-58.5-75.2-97.4-75.2c-45.1,0-95.2,54.1-101.2,94.7
                                l6.2,1.6l12,19.8c0.1-0.3,0.2-0.8,0.4-1.2c0,0,0,0,0,0c0.3-1.4,0.6-2.7,0.8-4c0,0,0-0.1,0-0.1c1-5.7,1.8-13.1,1.8-13.1
                                c5.9-42.8,40.3-75.6,80-75.6c38.9,0,74.4,29.6,82,70.7l0.4,2c0,0,0,0,0,0c0,0.1,0,0.1,0,0.1l10,46.1l-1.7,2.9l50.8-0.2v0
                                c-20.6-5.2-35.7-24.3-36.7-33.8C261,397.5,258.7,387.3,256.8,379.3z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M58.7,275.8l-2.9,38.1c3.3-1.7,4.1-4.3,4.1-4.3s5.5-22,5.2-28.2s-2.8-4.8-2.8-4.8S62.4,276.5,58.7,275.8z
                                "/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M76.7,390.8c0,0-0.8,7.4-1.8,13.1c9.6-44.9,23.8-51.2,23.8-51.2c13.2-19.7,35.1-32.6,59.9-32.6
                                c25.7,0,48.3,13.8,61.2,34.6c11.2,5.2,18.5,30.7,19.2,33.1l-0.4-2c-7.6-41.1-43.1-70.7-82-70.7C117,315.1,82.6,347.9,76.7,390.8z
                                "/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M86.1,401.4c2.9,38.9,34.3,69.6,72.6,69.6c40.2,0,72.8-33.8,72.8-75.5c0-2.6-0.1-5.1-0.4-7.6
                                c-1.2-12.2-5.1-23.5-11.2-33.2c-13-20.8-35.5-34.6-61.2-34.6c-24.8,0-46.8,12.9-59.9,32.6c-8.1,12.2-12.9,27-12.9,42.9
                                C85.9,397.5,85.9,399.5,86.1,401.4z M124,395.6c0-19.1,15.3-34.6,34.1-34.6c18.9,0,34.1,15.5,34.1,34.6s-15.3,34.6-34.1,34.6
                                C139.3,430.2,124,414.7,124,395.6z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M158.2,361c-18.9,0-34.1,15.5-34.1,34.6s15.3,34.6,34.1,34.6c18.9,0,34.1-15.5,34.1-34.6
                                S177,361,158.2,361z M135.2,395.6c0-12.9,10.3-23.3,23-23.3c12.7,0,23,10.4,23,23.3c0,12.9-10.3,23.3-23,23.3
                                C145.5,418.9,135.2,408.5,135.2,395.6z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M158.2,372.3c-12.7,0-23,10.4-23,23.3c0,12.9,10.3,23.3,23,23.3c12.7,0,23-10.4,23-23.3
                                C181.1,382.7,170.8,372.3,158.2,372.3z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M239.9,195.2l25.8-2.8c7.2-0.8,33.4-2.8,41.7-3.5l0.1,0c1.5-0.1,2.4-0.2,2.4-0.2s0.3,0,0.9,0h0l39.8-1.9
                                h0c14-1,81.6,0.1,81.6,0.1s0.7,0,1.8,0.1c0,0,0,0,0,0c10,0.3,24.1-3.4,24.1-3.4c-0.1-2.1,3.9-2.8,3.9-2.8h23.6
                                c-4.5-2.9-9.5-5.1-15.1-5.1c-7.1,0-43.2-1.9-47.1-1.9c-4.9,0-26.7-0.6-32.8-0.6c-5.8,0-76.2,2.2-80.8,2.6c-3,0.2-43.7,3.7-68.8,6
                                C241.1,181.9,240.4,185.9,239.9,195.2z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M247.4,436.9c-0.6,1.9-0.2,0.8-0.2,3.1c0.1,2.7,1.2,3.4,3.9,3.1l345.5,0.1c0,0,0.6-6.3-0.8-8l-27.4,0.1
                                l-270.1,1.4L247.4,436.9z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M525.6,388.7l-268.9-9.4c1.9,8,4.2,18.2,4.7,23.5c1,9.5,16,28.5,36.7,33.8v0l270.1-1.4v0
                                c9.2-7.8,12.1-35.1,12.9-44.6L525.6,388.7z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M265.7,192.4c-8.6,1-7.3,9.6-7.3,9.6s6.3,147.1,6.6,156.1s8.3,10,8.3,10s38.5,0.7,45.8,0
                                c7.3-0.7,7-7.1,7-7.1l-7-164.3c-0.3-6.7-6.1-7.8-8.4-7.9h0l-3.3,0.1l-0.1,0C299.1,189.5,272.9,191.5,265.7,192.4z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M350.6,186.9L350.6,186.9c-0.5,0-0.9,0.1-1.2,0.1c-10.8,1.2-10.8,10.8-10.8,10.8s4,116.8,4.4,121.5
                                c0.4,4.7,2,6.5,2,6.5s21.9,29.8,26.7,36.5c4.8,6.8,10.8,9,10.8,9s114.4,4.2,129.5,4.2c11.2,0,13.2-7.2,13.5-10.9
                                c0.1-1.3,0-2.2,0-2.2v-49.7v-26.8c0-3.2,0-4.9,0-4.9s-6.5-7.6-15.7-18.4c0,0,0,0,0,0c-20.6-24-54.7-63.5-60.4-68.4
                                c-6.1-5.2-12.4-6.6-15.5-7c0,0,0,0,0,0c-1.1-0.1-1.8-0.1-1.8-0.1S364.6,185.8,350.6,186.9z M353,201.3c0,0-1.2-3.6,4.1-3.6
                                c5.3,0,73.6,0,73.6,0s6.8,0.2,10.6,3.9c2.7,2.5,26,29.6,40.4,46.5l0-0.7h3.8v5.2c4.6,5.3,7.6,8.9,7.6,8.9s9.6,9.2-2.2,9.2
                                c-1,0-2.9,0-5.4-0.1v18.8h-5.9v-7.6l1.7-2.8l0.1-8.4h-0.3c-30.8-0.7-116.6-3.2-116.6-3.2s-9.2,1.9-9.9-15.9
                                C354,233.4,353,201.3,353,201.3z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M357.1,197.7c-5.3,0-4.1,3.6-4.1,3.6s1,32.1,1.7,49.9c0.7,17.8,9.9,15.9,9.9,15.9s85.8,2.5,116.6,3.2h0.3
                                l0.3-22.4c-14.5-16.9-37.8-44-40.4-46.5c-3.9-3.6-10.6-3.9-10.6-3.9S362.4,197.7,357.1,197.7z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M458.1,183.8c0,0-14.1,3.6-24.1,3.4c3,0.4,9.4,1.8,15.5,7c5.8,5,39.9,44.4,60.4,68.4c0,0,0,0,0,0
                                c9.4,10.9,31.8,6.1,32.6,5.9c0,0,0,0,0,0c0.3-0.1,0.5-0.2,0.8-0.2c7.3-1,23.2-2.7,23.2-2.7c-0.5-0.8-1.1-1.8-1.7-2.9l0,0
                                c0,0-21.2,2-29.4,1.5c-8.3-0.6-11-7.2-11-7.2c-10.6-16.6-52-62.5-62.5-69.1C459.2,186.1,458.2,184.8,458.1,183.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M462,180.9c0,0-4,0.7-3.9,2.8c0.1,1,1.1,2.4,3.9,4.2c10.5,6.6,51.9,52.5,62.5,69.1c0,0,2.8,6.6,11,7.2
                                c8.3,0.5,29.4-1.5,29.4-1.5l0,0c-0.3-0.6-0.7-1.1-1.1-1.8c-11.7-13.6-50.6-56.3-56.2-61.8c-5.5-5.3-11.5-10-17.4-14.8
                                c-1.5-1.2-3-2.3-4.6-3.4H462z"/>
                            <polygon fill="#FFFFFF" stroke="black" stroke-width="3" points="479.7,281.6 479.7,289.3 485.6,289.3 485.6,270.5 485.6,252.5 485.6,247.3 481.8,247.3
                                481.8,248 481.5,270.4 481.4,278.8 			"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M485.6,252.5v18c2.5,0,4.4,0.1,5.4,0.1c11.8,0,2.2-9.2,2.2-9.2S490.2,257.8,485.6,252.5z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M525.6,312.6v49.7c0,0,0.1,0.9,0,2.2h0v24.1l55.6,1.9c0.2-2.1,0.2-3.3,0.2-3.3
                                c6.8-41.4,58.1-93.5,105.7-93.5c38,0,69.2,19.5,84.2,51c-0.2-0.6-5.6-19.1-9-30.4c-3.4-11.2-5.2-18.4-5.3-18.6c0,0,0,0,0,0
                                c-0.7-0.3-1.4-0.5-2.1-0.6c-9.1-1.8-45.3-10.7-61.1-11.9c-1.2-0.1-2.2-1.5-3.3-2.4l-81-10.9c-3.7,0.6-6.4,1-7.8,1.1
                                c-8.1,0.5-22.3-1.7-26.5-2c-5.4-0.3-7.1-1.5-8.5-3.6c0,0-16,1.7-23.2,2.7c-0.3,0-0.5,0.1-0.8,0.2c0,0,0,0,0,0
                                C533.9,272.2,525.6,312.6,525.6,312.6z M558.8,372.3c0-4.5,0-32.2,0-32.2l33,1.8c0,0-13.7,19.3-14.5,32.4c0,0,0.4,1.3-3.1,1.5
                                c-3.5,0.1-13.3,0-13.3,0S558.8,376.8,558.8,372.3z M558.8,333.8c0,0,0-25.4,0-28.7s3.3-1.8,3.3-1.8l50.6,3.5
                                c3.1,0.2,6.2,4.5,1.6,6.8c-7.7,2.7-20.4,23-20.4,23s-28.5-1.1-31.8-0.9C558.8,336,558.8,333.8,558.8,333.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M525.6,285.8v26.8c0,0,8.3-40.4,17-44.1c-0.8,0.2-23.2,5-32.6-5.9c9.2,10.8,15.7,18.4,15.7,18.4
                                S525.6,282.6,525.6,285.8z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M558.8,340.1c0,0,0,27.7,0,32.2s2.2,3.4,2.2,3.4s9.8,0.1,13.3,0c3.5-0.1,3.1-1.5,3.1-1.5
                                c0.8-13.1,14.5-32.4,14.5-32.4L558.8,340.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M558.8,305.1c0,3.3,0,28.7,0,28.7s0,2.1,3.3,2c3.3-0.2,31.8,0.9,31.8,0.9s12.7-20.3,20.4-23
                                c4.6-2.4,1.5-6.6-1.6-6.8l-50.6-3.5C562.1,303.4,558.8,301.8,558.8,305.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M568.3,435.3L568.3,435.3l27.4-0.1c1.4-14.8,2.7-25.4,3.7-32.7c1.3-9.1,2.2-12.9,2.2-12.9
                                c6.8-41.4,37.9-75,85.5-75c41.7,0,71,21.4,82.7,58.1c1.8,5.7,3.2,11.7,4.2,18h3.4c1.3-2,1.9-10.2,2.3-18
                                c-1.5-10-4.3-19.3-8.3-27.7c0,0,0,0,0,0c-15-31.6-46.2-51-84.2-51c-47.6,0-98.9,52.1-105.7,93.5c0,0-0.1,1.2-0.2,3.3
                                C580.5,400.1,577.5,427.5,568.3,435.3z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M599.4,402.4L599.4,402.4c9.6-48.7,41.2-65.7,41.2-65.7l0.1,0.1c12.6-10.8,28.8-17.3,46.4-17.3c4.5,0,9,0.4,13.3,1.3
                                c48.9,5.5,69.1,51.9,69.1,51.9l0.2-0.1c-11.7-36.6-41-58.1-82.7-58.1c-47.6,0-78.7,33.6-85.5,75
                                C601.6,389.6,600.8,393.4,599.4,402.4z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M609.5,270.1l81,10.9c0,0-8.3-19.9-10.7-20.3C666,259.7,627.1,267.2,609.5,270.1z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M614.5,400.9c2.9,38.9,34.3,69.5,72.6,69.5c40.2,0,72.8-33.8,72.8-75.5c0-2.6-0.1-5.1-0.4-7.6
                                c-3.2-33.5-27.6-60.6-59.2-66.6c-4.3-0.8-8.8-1.3-13.3-1.3c-17.6,0-33.8,6.5-46.4,17.3c-16.1,13.8-26.4,34.8-26.4,58.2
                                C614.3,397,614.4,398.9,614.5,400.9z M652.5,395c0-19.1,15.3-34.6,34.1-34.6c18.8,0,34.1,15.5,34.1,34.6s-15.3,34.6-34.1,34.6
                                C667.7,429.6,652.5,414.1,652.5,395z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M686.6,360.4c-18.9,0-34.1,15.5-34.1,34.6s15.3,34.6,34.1,34.6c18.8,0,34.1-15.5,34.1-34.6
                                S705.4,360.4,686.6,360.4z M663.6,395c0-12.9,10.3-23.3,23-23.3c12.7,0,23,10.4,23,23.3c0,12.9-10.3,23.3-23,23.3
                                C673.9,418.3,663.6,407.9,663.6,395z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M686.6,371.7c-12.7,0-23,10.4-23,23.3c0,12.9,10.3,23.3,23,23.3c12.7,0,23-10.4,23-23.3
                                C709.6,382.1,699.3,371.7,686.6,371.7z"/>
                            <path fill="#FFFFFF" stroke="black" stroke-width="3" d="M757,296c0.1,0.2,1.9,7.3,5.3,18.6c3.4,11.2,8.8,29.8,9,30.4c0,0,0,0,0,0c4,8.4,6.8,17.7,8.3,27.7
                                c0.3-8.2,0.3-15.9,0.3-15.9c-0.6-17.5-17.2-55.6-17.2-55.6C761.5,299,759.4,297,757,296z"/>
                        </g>
                    </svg>
            </svg>
            <div id="delete-zone">
                <img id="delete-zone-img" src="image/Iconen/Verwijderen.png" alt="Opnieuw Beginnen" />
                <h2>Verwijder sticker</h2>
            </div>
        </div>
    </div>
    <div id="menurechts" class="tekstdiv">
        <div id="edit" class="background">
            <div class="selectie" data-ng-click="draaiAuto(currentView)" id="button-side-view" style="display: none" hover>
                <img src="image/Auto/ZijChecked.png" alt="Zij"/>
                <h2>Zijkant</h2>
            </div>

            <div class="selectie" data-ng-click="draaiAuto(currentView)" id="button-top-view" hover>
                <img src="image/Auto/BovenChecked.png" alt="Boven" />
                <h2>Bovenkant</h2>
            </div>
            
            <div class="selectie" data-ng-click="resetDrawing()" hover>
                <img src="image/Iconen/Opnieuw-grijs.png" alt="Opnieuw Beginnen" />
                <h2>Opnieuw Beginnen</h2>
            </div>
            <!--<div class="selectie">

                <img src="image/Auto/Undo.png" alt="ongedaan maken" />
                <h2>ongedaan maken</h2>
            </div>
            <div class="selectie">

                <img src="image/Auto/Redo.png" alt="opnieuw" />
                <h2>Opnieuw</h2>
            </div>-->
            <div class="selectie" data-ng-click="saveSvgToImage()" hover>
                <img src="image/Auto/Save.png" alt="Opslaan" />
                <h2>Opslaan</h2>
            </div>
        </div>
    </div>
</div>
